### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
%precision 2

# File to Load (Remember to Change These)
file_to_load = "./Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load).dropna(how='all')
purchase_data['Gender'] = purchase_data['Gender'].astype('category')

## Player Count
* Display the total number of players

In [2]:
total_players = purchase_data['SN'].nunique() 
total_players_df = pd.DataFrame({'Total Players' :[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data['Item ID'].nunique()
unique_items

avg_price = purchase_data['Price'].mean()
avg_price_str = '${0:,.2f}'.format(avg_price)
avg_price_str

num_purchases = purchase_data['Purchase ID'].nunique()
num_purchases

revenue = purchase_data['Price'].sum()
revenue

revenue_str = '${0:,.2f}'.format(revenue)
pd.DataFrame({'Total Revenue':[revenue_str]})


pd.DataFrame({'Number of Unique Items':[unique_items], \
              'Average Price':[avg_price_str], \
              'Number of Purchases':[num_purchases],	\
              'Total Revenue':[revenue_str]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

## Create player Demographics Data Frame

In [4]:
player_demographics = purchase_data[['Gender', 'SN', 'Age']]
player_demographics = player_demographics.drop_duplicates()

In [5]:


def extract_info(data, player_type):
  global total_players
  
  mask = data['Gender'] == player_type
  df = data[mask]
  players = df['SN'].nunique()
  players_percentage = players/total_players*100
  players_str = f'{players_percentage:.2f}'
  data = {'Total Count':[players], 'Percentage of Players':[players_str]}
  df_out = pd.DataFrame(data)
  return df_out

df_m = extract_info(player_demographics, 'Male')
df_f = extract_info(player_demographics, 'Female')
df_o = extract_info(player_demographics,'Other / Non-Disclosed' )

result = pd.concat([df_m, df_f, df_o], ignore_index=True)
result.rename(index={0:'Male',1:'Female',2:'Other/ Non-Disclosed'},inplace=True)
result

                      Total Count Percentage of Players
Male                          484                 84.03
Female                         81                 14.06
Other/ Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
def to_currency(amount):
  return f'${amount:,.2f}'
  
def extract_info(data, player_type):
  global total_players
  
  mask = data['Gender'] == player_type
  df = data[mask]
  players = df['SN'].nunique()
  purchases = df['Purchase ID'].nunique()
  avg_price = df['Price'].mean()
  avg_price_str
  players_percentage = players/total_players*100
  players_str = f'{players_percentage:.2f}'
  total_purchase_value = df['Price'].sum()
  avg_total_per_person = total_purchase_value/players 
  data = {'Purchase Count':[purchases], \
          'Average Purchase Price':[to_currency(avg_price)], \
          'Total Purchase Value':[to_currency(total_purchase_value)], \
          'Avg Total Purchase per Person':[to_currency(avg_total_per_person)]}
  df_out = pd.DataFrame(data)
  return df_out

df_m = extract_info(purchase_data, 'Male')
df_f = extract_info(purchase_data, 'Female')
df_o = extract_info(purchase_data,'Other / Non-Disclosed' )

result = pd.concat([df_f, df_m, df_o], ignore_index=True)
result.rename(index={0:'Female',1:'Male',2:'Other/ Non-Disclosed'},inplace=True)
result

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other/ Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [8]:
# Add 'Age Range' column to player_demographics using pd.cut() to bin by age
player_demographics['Age Range'] = pd.cut(player_demographics['Age'], bins =age_bins, labels=group_names)

# count total players in each age group
age_demo_total_per_grp = player_demographics["Age Range"].value_counts()

# percenage of purchases by age group
age_demo_percentage =  age_demo_total_per_grp / total_players * 100

# Display summary 
age_demographics = pd.DataFrame({'Total Count': age_demo_total_per_grp, \
                                 'Percentage of Players':age_demo_percentage.round(2) \
                                })
age_demographics.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Create data frame to etract purchase data by age range
purchase_demographics = purchase_data[['Purchase ID', 'SN', 'Age', 'Price']]

In [10]:
# Bin the purchase_data data frame by age

In [11]:
purchase_demographics['Age Range'] = pd.cut(purchase_demographics['Age'], bins =age_bins, labels=group_names)
#purchase_demographics.head(3)

/home/jmpichar/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

# Count the total number of purchases by group ('Age Range')
pdemo_total_purchase_count = purchase_demographics['Age Range'].value_counts()


# Use groupby to get purchase data by 'Age Range'
age_range_demographics = purchase_demographics.groupby('Age Range')

# get avg price by group
pdemo_avg_price = age_range_demographics['Price'].mean()

# Total purchase value by group
pdemo_total_purchase_value = age_range_demographics['Price'].sum()

# Calculate  the avg total purchase per person
# Note: Need to use total players per group without duplicates
# age_demo_total_per_grp calculated above
pdemo_purchase_per_person = (pdemo_total_purchase_value/age_demo_total_per_grp).apply(to_currency)

# Create a summary data frame to hold the results
pd.DataFrame({'Purchase Count': pdemo_total_purchase_count, \
              'Average Purchase Price':pdemo_avg_price.apply(to_currency), \
              'Total Purchase Value':pdemo_total_purchase_value.apply(to_currency),
              'Avg Total Purchase per Person':pdemo_purchase_per_person\
             })

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# Create  a groupby object to extract data by player name ('SN')
players = purchase_data.groupby('SN')

# get purchase count by player
players_purchase_count = players['Purchase ID'].nunique()

players_total_purchase = players['Price'].sum()
players_avg_purchase_price = players['Price'].mean()

players_total_purchase_value = (players_purchase_count * players_avg_purchase_price)

# Create data frame to display summary
top_spenders = pd.DataFrame({'Purchase Count':players_purchase_count, \
              'Average Purchase Price': players_avg_purchase_price.apply(to_currency), \
              'Total Purchase Value':players_total_purchase_value  \
             }).sort_values('Total Purchase Value', ascending=False)

top_spenders.head(5)

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
purchase_items = purchase_data[['Item ID', 'Item Name', 'Price']]
items = purchase_items.groupby(['Item ID', 'Item Name'])

items_total_purchase_value = items.sum()['Price']
items_avg_purchase_price = items.mean()['Price']
items_purchase_count = items.count()['Price']
most_popular_items = pd.DataFrame({'Purchase Count': items_purchase_count, \
                                   'Item Price':items_avg_purchase_price.apply(to_currency), \
                                   'Total Purchase Value': items_total_purchase_value})
most_popular_items.sort_values('Purchase Count', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
82,Nirvana,9,$4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
most_popular_items.sort_values('Total Purchase Value', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04
103,Singed Scalpel,8,$4.35,34.80